
.reset-container {
  position: fixed;     
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6px);
  z-index: 9999;        
}

.reset-card {
  width: 420px;
  background: #ffffff;
  padding: 32px 40px;
  border-radius: 22px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}


.reset-title {
  font-size: 22px;
  font-weight: 600;
  color: #000;
  margin-bottom: 6px;
}


.reset-subtitle {
  font-size: 15px;
  color: #666;
  margin-bottom: 20px;
}


.reset-input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #e8e8e8;
  margin-bottom: 18px;
  text-align: center;
  font-size: 15px;
}


.reset-info-box {
  background: #f4d24b;
  padding: 12px;
  border-radius: 14px;
  font-size: 13px;
  margin-bottom: 20px;
  width: 100%;
  font-weight: 500;
}


.reset-button {
  width: 100%;
  padding: 12px;
  background: #f4d24b;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 5px;
}

.reset-button:hover {
  background: #e2be3f;
}


.reset-message {
  margin-top: 12px;
  color: #444;
  font-size: 14px;
}
